h1 {
    font-size: 30px;
    color: white;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    border: 3px solid red;
    border-radius: 100px;
}

body {
    background-image: url(img/3.jpg);
}

div {
    color: white;
}

p {
    color: white;
}

ul {
    color: white;
}

form {
    color: white;
}

table {
    color: white;
}

a {
     color: red;
}

input {
    border: 1px solid black;
    border-radius: 40px;
}

input:hover {
    color: red;
    border: 2px solid red;
}

table {
    color: red;
    border-collapse: collapse;
}

td {
    padding: 10px;
}